.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f2f2f2; /* Light Gray Background */
}

.loading {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #8e8e93; /* Gray Text */
}

.messages {
    padding: 16px;
    flex: 0.9;
    overflow-y: auto;
}

.message {
    display: flex;
    margin-bottom: 16px;
    align-items: flex-end;
}

.message.mine {
    justify-content: flex-end;
}

.message-content {
    max-width: 60%;
    padding: 8px 16px;
    position: relative;
    border-radius: 20px;
    background-color: #e5e5ea; /* Gray bubble */
}

.message.mine .message-content {
    background-color: #007aff; /* Blue bubble */
    color: #ffffff;
}

.message-pfp {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-right: 8px;
    margin-left: 8px;
}

.message-text {
    font-size: 16px;
    line-height: 20px;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

.message-time {
    font-size: 12px;
    margin-top: 4px;
}

.message .message-content .message-time {
    color: #8e8e93; /* Gray Text for incoming messages */
}

.message.mine .message-content .message-time {
    color: rgba(255, 255, 255, 0.7); /* Subtle white for outgoing messages */
}

.message-input.disabled {
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
    background-color: #ccc;
}

.message-input textarea:disabled {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #ccc;
}

.message-input button:disabled {
    padding: 10px 20px;
    background-color: #ccc;
    color: #ccc;
    border: none;
    border-radius: 12px;
}

.message-input {
    display: flex;
    flex: 1;
    align-items: center;
}

.message-input textarea {
    flex: 1;
    border-radius: 16px;
    padding: 8px 12px;
    border: 1px solid #e5e5e5; /* Light Gray Border */
    font-size: 16px;
    resize: none;
    margin-right: 16px;
    height: 90%;
    font-family: inherit;
}

.message-input button {
    width: 90px;
    height: 36px;
    background-color: #007aff; /* Blue background */
    color: #ffffff;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.reply-card {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    background-color: #f2f2f2; /* Light Gray Background */
    border-radius: 12px;
    margin-bottom: 8px;
}

.reply-card-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.reply-content {
    display: flex;
    flex-direction: column;
}

.reply-name {
    font-weight: bold;
    font-size: 12px;
}

.reply-text {
    font-size: 12px;
    white-space: pre-line;
    hyphens: auto;
    overflow-wrap: anywhere;
}

.message.mine .reply-card {
    background-color: #005ab5; /* Slightly darker blue */
}

.message.mine .reply-name,
.message.mine .reply-text {
    color: #ffffff; /* White text */
}

.image-card {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    border-radius: 12px;
    overflow: hidden;
}

.image-card img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    cursor: pointer; /* Makes it obvious that the image is clickable */
}

.close-icon-container {
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;
}

.close-icon {
    width: 16px;
    height: 16px;
}

.zoomed-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2; /* Higher than the chat area */
}

.zoomed-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image-card .chat-image {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
.message-sender-reply {
    display: flex;
    justify-content: space-between;
}
.message-sender {
    font-size: small;
    font-weight: bold;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
    margin-bottom: 10px;
}
.reply-arrow {
    width: 12px;
    height: 12px;
    cursor: pointer;
    /* padding-left: 1%; */
    /* padding-bottom: 5%; */
    flex-grow: 0;
    flex-shrink: 0;
}

.input-area {
    flex: 0.1;
    padding: 16px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e5e5e5; /* Light Gray Border */
}

.replying-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0; /* Slightly darker background */
    padding: 8px 16px;
    border-radius: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cancel-reply-button {
    background: none;
    border: none;
    font-size: 12px;

    /* padding-bottom: 5%; */
    cursor: pointer;
    color: #868686;
}

.reply-card-input {
    max-width: 60%;
    width: fit-content;
    display: flex;
    align-items: flex-start;
    padding: 8px;
    background-color: #e5e5ea; /* Light Gray Background */
    border-radius: 12px;
    margin-bottom: 16px;
}

.reply-card-first-line {
    display: flex;
    justify-content: space-between;
}

.reply-card-first-line button {
    width: 12px;
    height: 12px;
    cursor: pointer;
    /* padding-left: 1%; */
    /* padding-bottom: 5%; */
    flex-grow: 0;
    flex-shrink: 0;
}
