.holdings-list {
    padding: 16px;
    background-color: #f2f2f2; /* Light Gray Background */
}

.sort-dropdown {
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #e5e5e5; /* Light Gray Border */
    appearance: none; /* Removes default styling */
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    cursor: pointer;
}

.sort-dropdown:hover {
    border: 1px solid #007bff;
}

.holdings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #f2f2f2; /* Light Gray Background */
    /* border-bottom: 1px solid #e5e5e5; Light Gray Border */
}

.holdings-header button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #007aff; /* Blue background */
    color: #ffffff; /* White text */
    cursor: pointer;
}

.holdings-header button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 122, 255, 0.5); /* Blue Glow on Focus */
}

.holdings-header button:hover {
    border: 1px solid #007bff;
}

.holding-item {
    display: flex;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 12px;
    margin-bottom: 16px;
    cursor: pointer;
}

.holding-item.active {
    background-color: #e5e5ea; /* Light Gray Background */
}
/* pfp stuff */
.pfp {
    position: relative;
    flex: 0 0 auto;
}

.pfp.image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 10px;
}

.pfp.online-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.pfp.online-indicator.online {
    background-color: green;
}

/* user info */
.user-info {
    flex: 1;
}
.user-info.user-details {
    display: flex;
    align-items: center;
}
.user-info.user-name {
    font-size: medium;
    display: flex;
    /* font-weight: bold; TODO bold if undread */
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
}
.user-info.last-msg-time {
    font-size: 11px;
    color: #868686;
    padding-left: 1%;
    padding-bottom: 5%;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
}

.user-info.last-message {
    font-size: small;
    hyphens: auto;
    overflow-wrap: anywhere;
}

/* key info */
.key-info {
    flex: 0 0 auto;
    text-align: right;
}
.key-info.price {
    font-size: medium;
}
.key-info.holdings {
    font-size: 11px;
    color: #868686;
}
